<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/main.css">
  <title>메인페이지</title>
</head>
<body>
  <div class="container">
    <header>
      <nav>
        <ul class="nav">
          <li><a href="/login/logout">로그아웃</a></li>
          <li><a href="/loginTrial">재판하기</a></li>
          <li><a href="/requestForTrial">재판 요청</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="first">
        <div class="centerBox">
          <p class="mainTitle">협곡 재판소</p>
          <div class="main_btnBox">
            <button class="button">
              <a href="/trial">재판하기</a>
            </button>
            <button class="button">
              <a href="/requestForTrial">재판 요청하기</a>
            </button>
          </div>
        </div>
      </section>
      <section class="second">
        <div class="desc">
          <h2>협곡재판소란?</h2>
          <p>
            협곡 재판소는 여러분들이 리그 오브 레전드 게임을 플레이 하던 중 경험하는 다양한 상황에서
            나의 판단이 옳은 판단인지 혹은 팀원과의 싸움이 생겨 누구의 잘못인지 확실하게 하고 싶다면
            이용 할 수 있는 사이트 입니다. 여러분의 다른 사람들이 업로드한 비디오를 보고 투표를 하거나
            혹은 여러분이 직접 사이트에 짧게 비디오를 업로드하고 다른 사람들의 투표를 받아 볼 수 있습니다. 
          </p>
        </div>
      </section>
    </main>
  </div>
</body>
</html>